/* GENERIC */
ul{
	margin: 0;
	padding:0;
}
ul li{list-style: none;}
/* backgrounds */
.bg-black{background:#000;}
.bg-white{background:#fff;}
.bg-blue{background:#4285F4;}
.bg-yellow{background:#FBBC05;}
.bg-green{background:#34A853;}
.bg-red{background:#EA4335;}
/* backgrounds */

/* fonts */
.color-white{color:#fff;}
.color-black{color:#000;}
/* fonts */
/* GENERIC /END */

/* LOGIN & CADASTR0 */
.login-box{
	width: 280px;
	padding: 20px;
	background: #f0f0f0;
	position: fixed;
	left: calc(50% - 140px);
	top: calc(50% - 150px);
}
.login-box a{font-size: 12px;}
/* LOGIN & CADASTR0 /END */

/* HEADER */
.page-header{
	padding: 10px 0;
}
.page-header h1{
	font-size: 20px;
	line-height: 20px;
	margin: 0;
}
/* HEADER */

/* LISTA DE HABILIDADES */
.lista-habilidades{padding: 0 15px;}
.lista-habilidades .item{
	font-size: 12px;
	line-height: 14px;
	height: 40px;
	margin-bottom: 10px;
	padding-right: 15px;
}
.lista-habilidades .difficulty{
	background: #EA4335;
	border-radius: 50%;
	width: 30px;
	padding: 0;
	height: 30px;
	line-height: 30px;
}
/* LISTA DE HABILIDADES */

@media screen and (min-width: 1020px){
	.row .row{
		margin-left:0;
		margin-right: 0;
	}
}