.search-input{
    position: relative;
    i{
        color: $red;
        position: absolute;
        right: 5px;
        top: calc(50% - 7px)
    }
    .form-control{
        width: 100%;
        border-radius: 15px;
        border: solid 1px $grey-lighten-1;
        height: 30px;
        padding: 3px 10px;
        margin: 0;
    }
    .btn{
        position: absolute;
        right: 3px;
        top: 2px;
        min-width: 100px;
        height: 26px;
        line-height: 13px;
    }
}