.container-fluid{
    display: flex;
    flex: 1 1;
    position: relative;
    flex-direction: column;
}
.container{
    margin-left: 290px;
    width: calc(100% - 290px);
    padding: 30px;
    transition: all 0.3s ease;
    &:not(.menu-open){
        margin: 0;
        width:100%;
    }
}
.mdc-top-app-bar__title{line-height: 0;}
.main-menu.mdc-drawer{
    background: $contrast-bg-color;
    top:64px;
    height: calc(100% - 64px);
    overflow: auto;
    position: fixed;
    z-index: 1;
    .mdc-list-item{
        color: $contrast-font-color;
        margin: 0;
        padding: 0 30px;
    }
}

@media screen and (max-width: 900px){
    .main-menu.mdc-drawer{top:56px;}
    .container{
        margin: 0;
        padding: 30px 0;
        width: 100%;
    }
}