// CSS CONSTANTS
$black: #000;
$white: #fff;
$default-transition: all 0.3s ease;

$main-bg-color: #eee;
$secondary-bg-color: #fff;
$contrast-bg-color: #333;

$main-font-color: #282828;
$contrast-font-color: #fff; 

$red: #ff0000;
$red-lighten-1:#ff4545;
$red-lighten-2:#F7E2E2;
$red-darken-1: #ba0000;

$purple:#501e50;
$purple-lighten-1: #7f5b7f;
$purple-darken-1: #3b163b;

$grey: #282828;
$grey-lighten-1:#626262;
$grey-lighten-2:#F1F1F1;
$grey-line:#D3D1CE;
$grey-bg:#f5f6fa;

$brown: #e5e0d1;
$brown-lighten-1: #ecebdd;
$brown-darken-1: #a7a399;
$green: #16A025;