.user{
    position: fixed;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    overflow: auto;
    .form-wrapper{
        padding: 10px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 400px;
        max-width: calc(100% - 20px);
        text-align: center;
        img{margin-bottom: 15px;}
    }
    .mdc-card__action-buttons{
        width: 100%;
        justify-content: center;
    }
    .error-msg{
        display: inline-block;
        width: 100%;
        position: absolute;
        left: 0;
    }
}