.row .col.login-box {
    width: 400px;
    left: calc(50% - 200px);
    margin: 30px auto 0;
    float: none;
}
.login-box .card .card-action{text-align: center;}
.login-box .card .card-action a:not(.btn):not(.btn-large):not(.btn-large):not(.btn-floating){
    color:#007bff;
    text-transform: none;
    font-size: 14px;
    margin-right: 0;
}
.side-nav .divider {margin: 10px 0;}
footer, header, main {padding-left: 300px;}
h1 {
    font-size: 1.5rem;
    line-height: 100%;
    margin: 14px 0;
}

.text-center{text-align: center;}
.text-left{text-align: left;}
.text-right{text-align: right;}


/* Nav bar btn mobile */
button[data-activates="nav-mobile"]{
    position: absolute;
    top: 20px;
    right:5%;
    color: #fff;
    padding: 0;
}
button[data-activates="nav-mobile"] i{
    font-size: 30px;
}


/* Margins e paddings */
.mb-0{margin-bottom: 0;}
.mb-30{margin-bottom: 30px;}
.mb-20{margin-bottom: 20px;}
.mb-15{margin-bottom: 15px;}

.mt-0{margin-top:0;}
.mt-30{margin-top: 30px;}
.mt-20{margin-top: 20px;}
.mt-15{margin-top: 15px;}

.p-0{padding: 0;}
.px-0{
    padding-top:0;
    padding-bottom: 0; 
}
.py-0{
    padding-left: 0;
    padding-right: 0;
}
/* Margins e paddings /end */

/* Search bar */
.search-wrapper .input-field{margin:0;}
.search-wrapper input{
    border:solid 1px #e0e0e0;
    margin: 0;
    padding-left: 45px;
    width:calc(100% - 45px)
}
.search-wrapper i{
    position: absolute;
    top: 35px;
    left: 35px;
    color:#9e9e9e;
}
.search-wrapper .autocomplete-content{margin-top: 0;}
/* Search bar /end */

/* List items */
.list-items .card-panel{
    display: flex;
    justify-content:space-between;
    align-items:center;
    position: relative;
    padding: 12px 30px 12px 10px;
    font-size: 16px;
    line-height: 18px;
}
.list-items .card-panel span.category{
    font-size: 14px;
    color:#b2dfdb;
}
.list-items .card-panel span.badge{
    width: 30px;
    height: 30px;
    min-width: 30px;
    line-height: 30px;
    border-radius: 50%;
}
.list-items .fixed-action-btn{
    position: absolute;
    right: 0;
    bottom: calc(50% - 18px);
    padding:0;
}
.list-items .fixed-action-btn a.btn-flat{
    color:#fff;
    padding: 0 5px;
}
.list-items .fixed-action-btn.horizontal ul{
    right:20px;
    top:1px;
}
.list-items .fixed-action-btn.horizontal ul li{
    margin: 15px 10px 0 0;
}
/* List items /end */

/* FORMS */
label{font-size: 1rem;}
.card .card-content p.range-field,
.range-container label{
    margin-top:42px;
}
.range-container label{display: inline-block;}
.difficulty-field .input-field label:not(.label-icon).active{
    font-size: 0.9rem;
    color:#9e9e9e;
}
.difficulty-field input{text-align: center;}
.difficulty-field .col{
    float: right;
    margin-top: 40px;
}
.difficulty-field .input-field label:not(.label-icon).active{
    width: calc(100% - 1.5rem);
    text-align: center;
}

/* mobile */
@media only screen and (max-width: 992px){
    footer, header, main {padding-left: 0;}
}
@media screen and (max-width:400px){
    .login-box{
        max-width: 100%;
        left: 0;
    }
    .login-box .card .card-action a:not(.btn):not(.btn-large):not(.btn-large):not(.btn-floating){
        font-size: 12px;
    }
}