.content-item{
    text-align: center;
    a:hover{
        text-decoration: none;
        opacity: .7;
    }
    i,span{
        font-size: 120px;
        display: inline-block;
        margin-bottom: 45px;
    }
    span{
        font: 80px/120px 'Calibri';
    }
    p{font:27px 'Calibri';}
}

.content-item.red{
    a{
        p{color: $red;}
        i{color: $red;}
        span{color: $red}
    }
}

.content-item.purple{
    a{
        p{color: $purple};
        i{color: $purple;}
        span{color: $purple}
    }
}
.content-item.grey{
    a{
        p{color: $grey-lighten-1;}
        i{color: $grey-lighten-1;}
        span{color: $grey-lighten-1}
    }
}